body {
  padding: 0px;
  margin: 0px;
}
header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  background: transparent;
  padding: 2rem;
}
header .logo-section img {
  width: 6rem;
}
header .avatar-section img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;
}
header .avatar-section button {
  background: transparent;
  color: #d9534f;
  transform: translateY(-10px);
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  margin-right: 3rem;
}
.logout-btn{
  background-color: #e50914;
  padding: 0.5rem;
  width: 5rem;
  margin-right: 2rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
@media (max-width: 423){
  header{
    padding: 0.5rem;
  }
}